@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

body {
  background-color: #dde1e7;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  color: #777;
  background-color: #f5f5f5;
  justify-content: space-between;
  padding: 0 35px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar li {
  margin: auto;
}

.navbar ul li a {
  text-decoration: none;
  color: #777;
  font-weight: bold;
  font-size: 22px;
}

.nav-link a:hover {
  background: linear-gradient(
    90deg,
    rgba(253, 182, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#fullDate {
  text-align: right;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

#dayOfTheWeek,
#date {
  font-size: 14px;
}

#hour {
  font-size: 10px;
  color: #777;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px auto;
  margin-top: 25px;
  width: 90%;
}

img {
  width: 50%;
  object-fit: cover;
  margin: auto;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.numbers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn-los {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  background-color: #dde1e7;
  width: 100%;
  color: #777;
  font-weight: 700;
  font-size: 25px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
  cursor: pointer;
}

button:active {
  background-color: #dde1e7;
  color: #777;
  font-weight: bold;
  font-size: 25px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.reset button,
.clipboard button {
  margin: auto;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 100px;
  font-size: 18px;
  padding: 10px;
  color: #777;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.active {
  display: none;
}

#btnSubmit {
  width: 25%;
}

.spanel {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  border-radius: 15px;
  padding: 5px;
  margin: 10px auto;
}

.numbersEuro {
  display: none;
  border: 1px solid rgba(0, 0, 1, 0.2);
  border-radius: 15px;
}

.spanel span {
  color: #777;
  display: grid;
  place-items: center;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
  text-align: center;
  font-weight: bold;
  background-color: #dde1e7;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 5px;
  padding: 5px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  text-align: center;
  color: #777;
}

.footer .container {
  margin: auto;
  padding: 20px;
}

@media (min-width: 1000px) {
  .container {
    width: 30rem;
  }
  .spanel span {
    width: 45px;
    height: 45px;
    font-size: 25px;
  }

  #hour {
    font-size: 22px;
  }

  img {
    width: 100%;
  }
}
