@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #dde1e7;
  justify-content: center;
  font-family: "Lato", sans-serif;
}

button {
  background-color: #dde1e7;
  color: #777;
  font-weight: 700;
  font-size: 25px;
  padding: 20px;
  margin-bottom: 25px;
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
}

button:hover {
}

button:active {
  background-color: #dde1e7;
  color: #777;
  font-weight: bold;
  font-size: 25px;
  padding: 20px;
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.reset {
  margin: auto;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 100px;
}

.active {
  display: none;
  color: red;
}

#container {
  margin: auto;
  margin-top: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.poleLiczbowe {
  margin: auto;
  display: flex;
  font-size: 20px;
}

.poleLiczbowe span {
  background-color: #dde1e7;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777;
  font-weight: bold;
  font-size: 25px;
  height: 50px;
  width: 50px;
  padding: 20px;
  margin: 25px;
  margin-top: 50px;
  border: none;
  outline: none;
  border-radius: 50%;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
  text-align: center;
}

@media (max-width: 1000px) {
  button {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 50px;
  }
  button:active {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 50px;
  }

  .poleLiczbowe span {
    height: 15px;
    width: 15px;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
  }
}
